<!-- CARD 1 -->
<section class="container-fluid" @enterState>
  <div class="row justify-content-center align-items-center col-maspelao mt-4">
    <article class="card-group col-12 col-lg-7">
      <div class="card">
        <img class="card-img-top" src="./assets/images/avatar.jpg" alt="Card image cap">
        <div class="card-body col-nombre col-12 align-items-center">
          <h5 class="card-title text-center col-12 text-blanco align-items-center mt-2">Carlos Javier Alonso Vergara</h5>
        </div>
        <div class="container-fluid">
          <!-- FILA 1 -->
          <div class="row">
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-envelope text-form"> Correo:</i></strong>  tikitacto1234@gmail.com</p>
            </div>
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-map-marker-alt text-form"> Direccion:</i></strong>  Doctor Domingo Gallego B3,1ºD</p>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
          <!-- FIN FILA1 -->

          <!-- FILA 2 -->
          <div class="row">
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-mobile-alt text-form"> Movil:</i></strong>  657 01 76 58</p>
            </div>
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-user-lock text-form"> Registrado:</i></strong>  12/03/2020</p>
            </div>
          </div>
          <!-- FIN FILA 2 -->


          <!-- FILA 3 -->
          <div class="row">
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-cut text-form"> Te has pelado:</i></strong>  3 veces</p>
            </div>
            <div class="col-12 col-md-6 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-money-check text-form"> Bonos:</i></strong>  2 pelados</p>
            </div>
          </div>
          <!-- FIN FILA 3 -->

          <!-- FILA 4 -->
          <div class="row">
            <div class="col-12 col-md-4 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-hdd text-form"> Espacio disponible de almacenamiento:</i></strong>  900 MB</p>
            </div>
            <div class="col-12 col-md-4 border bg-light">
              <p class="card-text p-1"><strong><i class="fas fa-hdd text-form"> Espacio ocupado de almacenamiento:</i></strong>  100 MB</p>
            </div>
            <div class="col-12 col-md-4 border bg-light">
              <p class="card-text p-1"><strong><i class="fab fa-hackerrank text-form"> Posicion Ranking:</i></strong>  3</p>
            </div>
          </div>
          <!-- FIN FILA 4 -->

          <!-- FILA 5 -->
          <div class="row">
            <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-edit">Modificar Datos Personales</i></a></button>

            <button class="btn btn-danger my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fab fa-hackerrank">Ver el Ranking</i></a></button>

          </div>
          <!-- FIN FILA 5 -->
        </div>
      </div>
    </article>
  </div>
</section>
<!-- FIN CARD 1 -->
