<table class="table table-striped" @enterState>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pos.</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Veces que se ha pelado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Elemento1</td>
      <td>Elemento1</td>
      <td>@Elemento1</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Elemento2</td>
      <td>Elemento2</td>
      <td>@Elemento2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Elemento3</td>
      <td>Elemento3</td>
      <td>@Elemento3</td>
    </tr>
  </tbody>
</table>
