@use './src/styles';
.nav-link{
  background-color: styles.$rojo !important;
  color: styles.$blanco;
    text-shadow: 1px 1px 5px styles.$negro;
    font-size: medium;
    font-family: roboto;
}
.nav-link:hover{
  background-color: styles.$teal !important;
  color: styles.$blanco;
    text-shadow: 1px 1px 5px styles.$negro;
    font-size: medium;
    font-family: roboto;
}
h1{
  font-size: 20px !important;
}
h2{
  font-size: 16px !important;
}

