@use './src/styles';
.logo{
    width: 130px;
    border: 2px solid styles.$rojo;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 1px styles.$azul;
}
.btn-custom{
    border: 1.5px solid styles.$negro;
    border-radius: 12px;
    background-color: styles.$rojo;
    padding: 0.5%;
    text-align: center;
    width: 100%;
    vertical-align: center;
    margin: 1%;
}
.link-custom{
    color: styles.$blanco;
    text-shadow: 1px 1px 5px styles.$negro;
    font-size: medium;
    font-family: roboto;

}
.link-custom:hover{
    color: styles.$blanco;
    text-shadow:1px 1px 5px styles.$blanco;
}
.nav-border{
    border: 2px solid styles.$rojo;
    border-radius: 6px;
    box-shadow: 10px 10px 8px 3px styles.$gris-shadow;
}
.activado{
  background-color:styles.$negro !important;
  border: 1.5px solid styles.$rojo;
}
.ir-arriba {
  width: 5%;
	display:block;
	background:styles.$teal;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
  right:15px;
  margin-right: 2%;
  float: left;
  z-index: 10000;
}
