<!DOCTYPE html>
<html>
<head>

	<title>Register Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height: 500px;">
			<div class="card-header">
				<h3>Registro de usuario</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="formGroup" (ngSubmit)="registro()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input formControlName="email" [class.is-invalid] = "formGroup.get('email').invalid && formGroup.get('email').touched" [(ngModel)]="usuario.email"  type="text" class="form-control" placeholder="email" id="email" autofocus pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input  [(ngModel)]="usuario.pass" type="password" class="form-control" placeholder="password" id="password" autocomplete="on" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user-tag"></i></span>
						</div>
            <input [(ngModel)]="usuario.nombre" type="text" class="form-control" placeholder="nombre" id="nombre"  autocomplete="on" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user-tag"></i></span>
						</div>
						<input  [(ngModel)]="usuario.apellidos" type="text" class="form-control" placeholder="apellidos" id="apellidos"  autocomplete="on" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
						</div>
						<input formControlName="movil" [class.is-invalid] = "formGroup.get('movil').invalid && formGroup.get('movil').touched"  [(ngModel)]="usuario.movil" type="text" class="form-control" placeholder="movil" id="movil"  autocomplete="on" >
          </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
						</div>
						<input  [(ngModel)]="usuario.direccion" type="text" class="form-control" placeholder="direccion" id="direccion"  autocomplete="on" [ngModelOptions]="{standalone: true}">
          </div>


					<div class="form-group">
						<input type="submit" value="Registrarse" class="btn float-right login_btn" [disabled]="formGroup.invalid">
					</div>
				</form>
			</div>
      <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Tienes cuenta?<a href="" routerLink="/login">Iniciar Sesion</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

