 <!-- Breadcrumps -->
 <div class="container-fluid">
  <div class="row">
<nav aria-label="breadcrumb" class="col-12">
  <p class="mt-2">Estás en:</p>
 <ol class="breadcrumb">
   <li class="breadcrumb-item active" aria-current="page"><a routerLink="/otros"><h1>Otros</h1></a></li>
   <li class="breadcrumb-item active" aria-current="page"><h2 class="ml-2">Blog</h2></li>
 </ol>
</nav>
</div>
</div>
<!-- Fin de Breadcrumps -->

<div class="card-group">
  <div class="card">
    <img src="./assets/images/Blog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Titulo de articulo de blog</h2>
      <p class="card-text">Aqui va toda la información que quepa de este articulo del blog, el cual tendrá un enlace para ver todo su contenido en otra pagina
        de detalles de cada articulo del blog.
      </p>
      <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fab fa-readme">  Leer más...</i></a></button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Creado:10/12/2019</small>
    </div>
  </div>
  <div class="card">
    <img src="./assets/images/Blog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Titulo de articulo de blog</h2>
      <p class="card-text">Aqui va toda la información que quepa de este articulo del blog, el cual tendrá un enlace para ver todo su contenido en otra pagina
        de detalles de cada articulo del blog.
      </p>
      <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fab fa-readme">  Leer más...</i></a></button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Creado:10/12/2019</small>
    </div>
  </div>
  <div class="card">
    <img src="./assets/images/Blog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Titulo de articulo de blog</h2>
      <p class="card-text">Aqui va toda la información que quepa de este articulo del blog, el cual tendrá un enlace para ver todo su contenido en otra pagina
        de detalles de cada articulo del blog.
      </p>
      <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fab fa-readme">  Leer más...</i></a></button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Creado:10/12/2019</small>
    </div>
  </div>
</div>
