$azul:#003CFF;
$rojo: #D31E1E;
$negro: #000000;
$blanco:#fff;
$bg: #000000E6;
$gris-shadow:#888888;
$teal: #17a2b8;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
