@use './src/styles';
.col-maspelao{
    background-color: styles.$bg;
    padding: 1%;
}
.text-blanco{
    color: styles.$blanco !important;
}
.card-img-top{
  width: 250px;
  margin: 0 auto;
}
h1{
  font-size: 20px !important;
}

