 <div class="container-fluid">
   <div class="row">
  <nav aria-label="breadcrumb" class="col-12 bg-dark-gray">
    <p class="mt-2">Estás en:</p>
   <ol class="breadcrumb justify-content-center align-content-center">
     <li class="breadcrumb-item active col-12 col-sm-2" aria-current="page"><a routerLink="/inicio"><h1>Inicio</h1></a></li>
     <button class="btn btn-dark link-custom col-6 col-sm-5" routerLink="/perfil">Hola {{authService.usuario.nombre | titlecase}} <a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag"></i></a></button>
     <button class="btn btn-primary link-custom col-6 col-sm-5" (click)="authService.logout()"><a href="#" class="link-custom text-blanco"><i class="fas fa-sign-out-alt"> Cerrar Sesion</i></a></button>
  </ol>
  </nav>
</div>
<div *ngFor="let ro of usuario.roles" class="col-12 m-2">
  <button class="btn btn-danger link-custom col-12" routerLink="/admin" *ngIf="ro.nombre == 'ROLE_ADMIN' ">Panel de Administracion {{authService.usuario.nombre | titlecase}} <a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag"></i></a></button>
 </div>
 </div>

 <!-- Breadcrumps -->
<!--  <div class="container-fluid">
  <div class="row justify-content-center align-items-center">

</div>
</div> -->
<!-- Fin de Breadcrumps -->


 <!-- EL MAS PELAO -->
 <section class="container-fluid" @enterState>
  <div class="row justify-content-center align-items-center col-maspelao" >
      <!-- CARD 1 -->
      <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;" *ngFor="let item of topTres;let i = index;">
        <img *ngIf="item.foto;else noFoto;" src="http://localhost:8080/api/clientes/img/{{item.foto}}" class="card-img-top img-fluid mt-1" alt="...">
        <ng-template #noFoto>
          <img  src="./assets/images/avatar.jpg" class="card-img-top img-thumbnail mt-1" alt="...">
        </ng-template>

        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text" *ngIf="i == 0;else puesto2;">Ahora mismo este hombre <strong>lidera el primer puesto en nuestro ranking</strong> de <strong>los más pelaos!.</strong></p>
        <ng-template #puesto2>
          <p class="card-text" *ngIf="i == 1;else puesto3;">Ahora mismo este hombre <strong>ocupa el segundo puesto en nuestro ranking</strong> de <strong>los más pelaos!.</strong></p>
        </ng-template>
        <ng-template #puesto3>
          <p class="card-text">Ahora mismo este hombre <strong>ocupa el tercer puesto en nuestro ranking</strong> de <strong>los más pelaos!.</strong></p>

        </ng-template>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong>{{item.nombre | titlecase}}</li>
          <li class="list-group-item"><strong>Apellidos:</strong>{{item.apellidos | titlecase}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom m-2" type="submit" routerLink="/mas-pelao"><a class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article>
      <!-- FIN CARD 1 -->

      <!-- CARD 2 -->
      <!-- <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;">
        <img src="./assets/images/avatar.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text">Ahora mismo este hombre <strong>ocupa el segundo puesto</strong> en nuestro ranking de <strong>los más pelaos!.</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong></li>
          <li class="list-group-item"><strong>Apellidos:</strong></li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom m-2" type="submit"><a href="#" class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article> -->
      <!-- FIN CARD 2 -->

      <!-- CARD 3 -->
      <!-- <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;">
        <img src="./assets/images/avatar.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text">Ahora mismo este hombre <strong>ocupa el tercer puesto</strong> en nuestro ranking de <strong>los más pelaos!.</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong></li>
          <li class="list-group-item"><strong>Apellidos:</strong></li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom m-2" type="submit"><a href="#" class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article> -->
      <!-- FIN CARD 3 -->

    </div>
  </section>
  <!-- FIN DE EL MAS PELAO -->
