 <!-- Breadcrumps -->
 <div class="container-fluid">
  <div class="row justify-content-center align-items-center">
<nav aria-label="breadcrumb" class="col-12">
  <p class="mt-2">Estás en:</p>
 <ol class="breadcrumb">
   <li class="breadcrumb-item active col-4" aria-current="page"><a routerLink="/inicio"><h1>Inicio</h1></a></li>
   <p class="text-center col-5">Hola {{ authService.usuario.nombre + ' ' +authService.usuario.apellidos | titlecase}}</p>
 <form class="form-block my-lg-0 float-right col-3" *ngIf="authService.isAuthenticated()">

  <a class="nav-link link-custom" routerLink="/citas"><button class="btn btn-info my-2 my-sm-0 link-custom" type="submit" (click)="authService.logout()">Cerrar Sesion</button></a>
</form>
 </ol>

</nav>
</div>
</div>
<!-- Fin de Breadcrumps -->


 <!-- EL MAS PELAO -->
 <section class="container-fluid" @enterState>
  <div class="row justify-content-center align-items-center col-maspelao">
      <!-- CARD 1 -->
      <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;">
        <img src="./assets/images/avatar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text">Ahora mismo este hombre <strong>lidera el primer puesto en nuestro ranking</strong> de <strong>los más pelaos!.</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong></li>
          <li class="list-group-item"><strong>Apellidos:</strong></li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article>
      <!-- FIN CARD 1 -->

      <!-- CARD 2 -->
      <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;">
        <img src="./assets/images/avatar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text">Ahora mismo este hombre <strong>ocupa el segundo puesto</strong> en nuestro ranking de <strong>los más pelaos!.</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong></li>
          <li class="list-group-item"><strong>Apellidos:</strong></li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article>
      <!-- FIN CARD 2 -->

      <!-- CARD 3 -->
      <article class="card justify-content-center col-12 col-md-3 m-1" style="width: 18rem;">
        <img src="./assets/images/avatar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">El más pelao</h2>
          <p class="card-text">Ahora mismo este hombre <strong>ocupa el tercer puesto</strong> en nuestro ranking de <strong>los más pelaos!.</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Premio:</strong> Se sortea un pelado gratis cada 3 meses para quién lidere el ranking.</li>
          <li class="list-group-item"><strong>Nombre:</strong></li>
          <li class="list-group-item"><strong>Apellidos:</strong></li>
        </ul>
        <div class="card-body">
          <button class="btn btn-dark my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco"><i class="fas fa-user-tag">Ver Perfil</i></a></button>

          <button class="btn btn-info my-2 my-sm-0 link-custom" type="submit"><a href="#" class="link-custom text-blanco">Ver el Ranking</a></button>
        </div>
      </article>
      <!-- FIN CARD 3 -->

    </div>
  </section>
  <!-- FIN DE EL MAS PELAO -->
